<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Roca</title>
    <link rel="stylesheet" href="dist/ui.css">
    <link rel="stylesheet" href="dist/roca.css">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="icon" href="favicon.ico" type="image/x-icon">
</head>
<body>
<script type="text/x-template" id="menu-item-template">
    <li>
        <div :class="{bold: isFolder}" @click="onClick" @dblclick="onDoubleClick">
            <span v-if="isFolder" class="folder" :class="{open: open}"></span>
            {{model.name}}
        </div>
        <ul v-show="open" v-if="isFolder">
            <menu-item class="menu-item" v-for="model in model.children" :model="model"></menu-item>
        </ul>
    </li>
</script>

<script type="text/x-template" id="md-page-template">
    <div>
        <h1 class="page-title">{{model.name}}</h1>
        <div v-html="model.html"></div>
    </div>
</script>

<section id="app">
    <div id="sidebar">
        <ul>
            <menu-item class="menu-item" :model="treeData"></menu-item>
        </ul>
    </div>
    <div id="content">
        <md-page :model="pageData"></md-page>
    </div>
</section>


<script src="dist/vue.min.js"></script>
<script src="dist/roca.js"></script>
</body>
</html>
