body {
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    background: #FAFAFA;
    color: #333;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
}

/** Layout **/
div#sidebar {
    top: 0;
    left: 0;
    bottom: 0;
    position: fixed;
    width: 400px;
    overflow-y: auto;
    padding: 10px;
    box-sizing: border-box;
    background: #FFF;
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12), 0 2px 4px -1px rgba(0, 0, 0, .2);

    /** Avoid select on double click on menu item **/
    -webkit-user-select: none; /* webkit (safari, chrome) browsers */
    -moz-user-select: none; /* mozilla browsers */
    -khtml-user-select: none; /* webkit (konqueror) browsers */
    -ms-user-select: none; /* IE10+ */
}

#search {

    input[type="search"] {
        width: 100%;
        padding: 5px;
    }

}

#content {
    margin-left: 400px;
    padding: 20px;
    /*font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";*/
    font-size: 16px;
}

/** Sidebar **/

#sidebar li.menu-item {
    cursor: pointer;
    color: #212121;
    line-height: 1.42em;
}

#sidebar li.menu-item > div:hover {
    color: #0D47A1;
}

/* Outer nav */
#sidebar > ul {
    padding: 0;
    margin: 7px 0 0 7px;
}

#sidebar > ul ul {
    padding: 0;
    margin: 0 0 0 15px
}

#sidebar ul {
    list-style-type: none;
}

/** Sidebar icons **/
span.icon {
    display: inline-block;
    width: 18px;
    height: 18px;
}

span.file {
    background: url('assets/img/fi.png') no-repeat 0 3px;
}

span.folder {
    background: url('assets/img/f.png') no-repeat 0 3px;
}

span.folder.open {
    background: url('assets/img/fo.png') no-repeat 0 3px;
}

/** Page **/

h1.page-title {
    padding-bottom: 20px;
    padding-top: 0;
    border-bottom: 1px solid #CCC;
}

/** Code **/
code, pre {
    font-family: 'Roboto Mono', monospace;
}

code, tt {
    padding: 0.2em 0.5em;
    margin: 0;
    font-size: 85%;
    background-color: rgba(0, 0, 0, 0.04);
    color: #D01040;
}

div.roca_css > pre {
    padding: 15px;
    background: #FFF;
    border: 1px solid #DDD;
    overflow-y: auto;
    overflow-x: auto;
}

/** Typography **/

h1, h2, h3, h4, h5, h6 {
    display: block;
    font-weight: 600;
    border-bottom: 1px solid #EEE;
    margin-top: 24px;
    margin-bottom: 16px;
    padding-bottom: 8px;
    line-height: 1.25;
}

hr {
    border: none;
    border-bottom: 1px solid #EEE;
}

a {
    color: #0D47A1;
    text-decoration: none;
}

a.headerlink {
    color: #CECECE;
    display: inline-block;
    margin-left: 10px;
}

a:hover, a:active {
    text-decoration: underline;
    outline-width: 0;
}

blockquote {
    display: block;
    background: #FFF;
    padding: 10px 10px 10px 10px;
    margin-left: 0;
    margin-right: 0;
    font-family: serif;
    font-size: 16px;
    line-height: 1.2;
    color: #666;
    text-align: justify;
}

div.admonition {
    padding: 10px;
    background: #FFF;
    border: 1px solid #DDD;
    overflow-y: auto;
    overflow-x: auto;
    margin-bottom: 16px;
}

div.admonition p {
    margin-top: 0;
    margin-bottom: 7px;
}

div.admonition p:last-child {
    margin-bottom: 0;
}

div.admonition p.admonition-title {
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 7px;
}

/** attention, caution, danger, error, hint, important, note, tip, warning **/

div.admonition.danger,
div.admonition.error,
div.admonition.caution,
div.admonition.attention {
    background: #FFCDD2;
    border: 1px solid #C62828;
}

div.admonition.warning {
    background: #FFE0B2;
    border: 1px solid #FF9800;
}

div.admonition.note,
div.admonition.tip,
div.admonition.hint,
div.admonition.important {
    background: #BBDEFB;
    border: 1px solid #2196F3;
}

/** Tables **/

table {
    border-collapse: collapse;
    background: #FFF;
}

table td, table th {
    padding: 10px;
    border: 1px solid #DDD;
}
